<!-- Walk launchfile -->
<launch>
  <node name="walk" pkg="holy" type="walk" required="true" output="screen"></node>
 <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find holy_controllers)/urdf/TypeA.urdf.xacro'" />
 <rosparam>
  planning_plugin: 'ompl_interface/OMPLPlanner' 
 </rosparam>
<param name="robot_description" command="$(arg urdf_file)" />
</launch>
