<launch>
<!-- Start controller manager -->
<include file="$(find holy_controllers)/launch/holy_manager.launch">
</include>
<!-- Use delayed startup of start controller-->
<node pkg="holy" type="timed_roslaunch.sh" 
    args="1 holy_controllers start_controller.launch" 
    name="timed_roslaunch" output="screen">
</node>
<!-- Start the joint state publisher -->
<node name="joint_state_pub" pkg="holy_controllers" type="holy_joint_state_publisher.py" required="true" output="screen"> 
</node>
<!-- Start the tf transform -->
<include file="$(find holy_controllers)/launch/init_tf_transform.launch">
</include>
</launch>
