<launch>
  <rosparam file="$(find holy_controllers)/holy_controller.yaml" command="load"/>
  <node name="holy_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=holy_manager
              --port port_0
              --type=simple
		R_SAA_controller
		R_SFE_controller
		R_EB_controller
		R_HAA_controller
		R_HR_controller
		R_HFE_controller
		R_KFE_controller
		R_AFE_controller
		R_AR_controller
		L_SAA_controller
		L_SFE_controller
		L_EB_controller
		L_HAA_controller
		L_HR_controller
		L_HFE_controller
		L_KFE_controller
		L_AFE_controller
		L_AR_controller 
		"
        output="screen"/>


  <node name="holy_action_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=holy_manager
              --type=meta
              holy_joint_trajectory_action_controller
              	R_SAA_controller
		R_SFE_controller
		R_EB_controller
		R_HAA_controller
		R_HR_controller
		R_HFE_controller
		R_KFE_controller
		R_AFE_controller
		R_AR_controller
		L_SAA_controller
		L_SFE_controller
		L_EB_controller
		L_HAA_controller
		L_HR_controller
		L_HFE_controller
		L_KFE_controller
		L_AFE_controller
		L_AR_controller 
		"
        output="screen"/>
</launch>
