<launch>
 <rosparam ns="/bioloid/joints">
  name: ['R_SAA','L_SAA','R_SFE','L_SFE','R_EB','L_EB','R_HAA','L_HAA','R_HR','L_HR','R_HFE','L_HFE','R_KFE','L_KFE','R_AFE','L_AFE','R_AR','L_AR' ]
  servo_number: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18 ]
  joint_encoder_offset: [571, 514, 510, 520, 509, 503, 358, 671, 513, 523, 513, 500, 516, 498, 529, 506, 516, 525]
  angle_max: [2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.5,2.5,2.5,2.5,2.0,2.0,2.0,2.0 ]
  angle_min: [-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.8,-2.8,-2.0,-2.0,-2.0,-2.0 ]
  sim: false
  torque: true
 </rosparam>
</launch>
